<div class="container mx-auto px-4 lg:px-8">
  <div class="flex flex-col items-center mt-8 mb-5">
    <!-- Detalles del usuario y welcome-->
    <!-- <div class="w-full bg-gray-100 p-4 rounded-xl mb-8">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-lg font-bold">Hola Admin</h1>
          <p class="text-sm">{{ fechaHoraActual  }} </p>
        </div>
        <div class="flex items-center">
          <p class="mr-2">Admin</p>
          <i class="bx bx-user-circle text-2xl"></i>
        </div>
      </div>
    </div> -->

   <!-- Datos del dashboard -->
<div class="flex flex-col sm:flex-row justify-center w-full mb-4 space-y-4 sm:space-y-0 sm:space-x-4">
  <!--  datos -->
  <div class="flex flex-col items-center bg-white border border-green-400 rounded-xl p-4 w-full sm:w-1/3">
    <div class="flex justify-between items-start w-full">
      <div class="flex flex-col">
        <p class="text-4xl sm:text-6xl font-bold">3</p>
        <br>
        <p class="text-lg font-medium mt-auto">Total de Trabajadores</p>
      </div>
      <div>
        <i class='bx bxs-group text-5xl sm:text-7xl  text-green-400'  ></i>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center bg-white border border-green-400 rounded-xl p-4 w-full sm:w-1/3">
    <div class="flex justify-between items-start w-full">
      <div class="flex flex-col">
        <p class="text-4xl sm:text-6xl font-bold">4</p>
        <br>
        <p class="text-lg font-medium mt-auto">Trabajadores Inactivos</p>
      </div>
      <div>
        <i class="bx bxs-user-x text-5xl sm:text-7xl  text-green-400"></i>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center bg-white border border-green-400 rounded-xl p-4 w-full sm:w-1/3">
    <div class="flex justify-between items-start w-full">
      <div class="flex flex-col">
        <p class="text-4xl sm:text-6xl font-bold">10</p>
        <br>
        <p class="text-lg font-medium mt-auto">Trabajadores Presentados</p>
      </div>
      <div>
        <i class="bx bxs-user text-5xl sm:text-7xl text-green-400"></i>
      </div>
    </div>
  </div>
</div>

  <!-- tabla de Incidencias -->
    <div class="w-full bg-white border border-green-400 rounded-xl p-4 mb-8">
      <h2 class="text-xl font-bold mb-4">Incidencias</h2>


<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Usuario
              </th>
              <th scope="col" class="px-6 py-3">
                  Razón
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
              <th scope="col" class="px-6 py-3">
                  Fecha
              </th>
              <th scope="col" class="px-6 py-3">
                  Hora
              </th>
              <th scope="col" class="px-6 py-3">
                  Estado
              </th>

          </tr>
      </thead>
      <tbody>
          <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Usuario1
              </th>
              <td class="px-6 py-4">
                  razon1
              </td>
              <td class="px-6 py-4">
                  email1
              </td>
              <td class="px-6 py-4">
                  fecha
              </td>
              <td class="px-6 py-4">
                  hora
              </td>
              <td class="px-6 py-4">
                  Completado
              </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Usuario1
              </th>
              <td class="px-6 py-4">
                  razon1
              </td>
              <td class="px-6 py-4">
                  email1
              </td>
              <td class="px-6 py-4">
                  fecha
              </td>
              <td class="px-6 py-4">
                  hora
              </td>
              <td class="px-6 py-4">
                  Completado
              </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Usuario1
              </th>
              <td class="px-6 py-4">
                  razon1
              </td>
              <td class="px-6 py-4">
                  email1
              </td>
              <td class="px-6 py-4">
                  fecha
              </td>
              <td class="px-6 py-4">
                  hora
              </td>
              <td class="px-6 py-4">
                  Completado
              </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Usuario1
              </th>
              <td class="px-6 py-4">
                  razon1
              </td>
              <td class="px-6 py-4">
                  email1
              </td>
              <td class="px-6 py-4">
                  fecha
              </td>
              <td class="px-6 py-4">
                  hora
              </td>
              <td class="px-6 py-4">
                  Completado
              </td>
          </tr>

      </tbody>
  </table>
</div>

      </div>





    <!-- Lista -->
    <div class="w-full bg-white border border-green-400 rounded-xl p-4">
      <h2 class="text-xl font-bold mb-4">Lista de Campos</h2>
      <ul>
        <li class="py-2">Campo 1</li>
        <li class="py-2">Campo 2</li>
        <li class="py-2">Campo 3</li>
        <li class="py-2">Campo 4</li>
        <li class="py-2">Campo 5</li>
      </ul>
    </div>
  </div>
</div>
