<div class="container mx-auto mt-8">
  <div class="flex items-center justify-between mb-4 ml-5">
    <div class="flex items-center">
      <h1 class="text-lg font-bold mr-2 sm:text-xl md:text-2xl lg:text-3xl">Presupuesto</h1>
      <div class="border-l h-6 mr-2"></div>
      <div class="text-sm text-gray-500">{{ invoices.length }} Presupuestos</div>
    </div>
    <div class="flex ml-auto mr-8">
      <button routerLink="/budget/generate_budget"
        class="flex items-center bg-gray-200 hover:bg-green-400 px-2 py-1 rounded-lg mr-2">
        <i class='bx bxs-user-plus text-xl'></i>
        <span class="ml-1">Añadir</span>
      </button>
      <div class="relative">
        <button class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg"
          (click)="toggleDropdown()">
          <i class='bx bx-filter text-xl'></i>
          <span class="ml-1">{{ filterButtonText }}</span>
        </button>
        <div *ngIf="showDropdown"
          class="absolute bg-white border border-gray-300 rounded-lg mt-1 py-1 px-2 w-auto sm:w-40 z-10 mr-2">

          <button
            class="block px-2 py-1 text-xs sm:text-sm md:text-base lg:text-lg text-gray-800 hover:bg-gray-200 w-full"
            (click)="sortInvoices('default'); resetPagination()">Mostrar todos</button>
          <button
            class="block px-2 py-1 text-xs sm:text-sm md:text-base lg:text-lg text-gray-800 hover:bg-gray-200 w-full"
            (click)="sortInvoices('asc') ; resetPagination()">Ascendente</button>
          <button
            class="block px-2 py-1 text-xs sm:text-sm md:text-base lg:text-lg text-gray-800 hover:bg-gray-200 w-full"
            (click)="sortInvoices('desc') ; resetPagination()">Descendente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 ">
    <!-- Added overflow-x-auto for horizontal scrolling -->
    <table class="w-full divide-y divide-gray-200">
      <!-- Cabecera de la tabla -->
      <thead class="bg-gray-100">
        <tr>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">
            Cliente
          </th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">
            Compañia
          </th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">
            Subtotal
          </th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">
            Total
          </th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">
            Acción
          </th>
        </tr>
      </thead>
      <!-- Datos de los presupuestos -->
      <tbody class="divide-y divide-gray-200">
        <ng-container *ngIf="invoices.length > 0; else noInvoices">

        <tr *ngFor="let invoice of invoices |paginate:{ itemsPerPage: 7, currentPage: p }" class="border-b border-gray-200">
          <td class="text-center px-4 py-2">{{ invoice.clients.client_name }}</td>
          <td class="text-center px-4 py-2">{{ invoice.companies.company_name }}</td>
          <td class="text-center px-4 py-2">{{ invoice.subtotal }}€</td>
          <td class="text-center px-4 py-2">{{ invoice.total }}€</td>
          <td class="text-center px-4 py-2">
            <a (click)="generatePDF(invoice)">
              <i class='bx bxs-file-pdf text-xl mr-2'></i>
            </a>
            <button (click)="confirmDeleteInvoice(invoice.id)">
              <i class='bx bx-trash text-xl text-red-600'></i>
            </button>
          </td>
        </tr>
      </ng-container>
        <ng-template #noInvoices>
          <tr>
            <td colspan="6" class="py-4 text-center">No hay presupuestos disponibles.</td>
          </tr>
        </ng-template>
      </tbody>

    </table>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
    class="custom-pagination flex justify-end my-4" [maxSize]="10" [directionLinks]="true" [autoHide]="false"
    previousClass="bg-gray-300 px-4 py-2 rounded-l" nextClass="bg-gray-300 px-4 py-2 rounded-r"
    directionLinkClass="bg-gray-300 px-4 py-2 rounded" ellipses="..." ellipsesClass="bg-gray-300 px-4 py-2"
    pageLinkClass="text-blue-400 px-4 py-2 rounded" [responsive]="true"></pagination-controls>
  </div>
</div>
