<div class="container mx-auto mt-8">
  <div class="flex items-center justify-between mb-4 ml-5">
    <div class="flex items-center">
      <h1 class="text-lg font-bold mr-2 sm:text-xl md:text-2xl lg:text-3xl">Horarios</h1>
      <div class="border-l h-6 mr-2"></div>
      <div class="text-sm text-gray-500">{{ employees.length }} Trabajadores</div>
    </div>
  </div>
  <div  *ngIf="isError" class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 " >
    <div  class="text-red-600 font-bold mb-4">
      Error al cargar los horarios. Por favor, inténtelo de nuevo más tarde.
    </div>
  </div>
  <!-- Employee table -->
  <div class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 " *ngIf="!isError">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Foto</th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Nombre</th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Email</th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Teléfono</th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">País</th>
          <th scope="col" class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Acción</th>
        </tr>
      </thead>
      <!-- Employee data -->
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let employee of employees" class="border-t">
          <td class="text-center px-4 py-2">
            <div class="flex justify-center items-center">
              <div class="rounded-full overflow-hidden border border-gray-300 h-8 w-8">
                <img [src]="employee.photo" alt="Foto de {{ employee.name }}" class="h-full w-full object-cover" width="25" height="25">
              </div>
            </div>
          </td>
          <td class="text-center px-4 py-2">{{ employee.name }} {{ employee.surname }}</td>
          <td class="text-center px-4 py-2">{{ employee.email }}</td>
          <td class="text-center px-4 py-2">{{ employee.telephone }}</td>
          <td class="text-center px-4 py-2">{{ employee.country }}</td>
          <td class="text-center px-4 py-2">
            <a [routerLink]="['/schedule/add_schedule', employee.id]" class="text-gray-900 ">
              <i class='bx bxs-calendar-plus text-xl'></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

