<div class="container mx-auto">
  <div class="flex flex-wrap justify-center items-start">
    <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
      <h2 class="text-xl font-bold mb-4">Horario de {{ employeeName }}</h2>
      <full-calendar [options]="calendarOptions" (eventClick)="handleEventClick($event)"></full-calendar>
    </div>

    <div class="w-full md:w-1/4 px-4 md:pl-8">
      <div class="bg-white p-5 rounded-lg shadow">
        <h2 class="text-lg font-bold mb-4">Agregar Turno</h2>
        <form [formGroup]="form" (submit)="agregarHorario()">
          <div class="mb-4">
            <label for="title" class="block text-sm font-bold mb-1">Título:</label>
            <input type="text"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="title" required>
            <div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)"
              class="text-red-500 mt-1">Título es requerido.</div>
          </div>
          <div class="mb-4">
            <label for="startDate" class="block text-sm font-bold mb-1">Fecha de inicio:</label>
            <input type="date"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="fechaInicio" required>
            <input type="time"
              class="form-input w-full mt-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="horaInicio" required>
            <!-- Mensaje de error para la validación de fecha de inicio -->
            <div
              *ngIf="form.get('fechaInicio')?.invalid && (form.get('fechaInicio')?.dirty || form.get('fechaInicio')?.touched)"
              class="text-red-500 mt-1">Fecha de inicio es requerida.</div>

          </div>

          <div class="mb-4">
            <label for="endDate" class="block text-sm font-bold mb-1">Fecha de fin:</label>
            <input type="date"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="fechaFin" required>
            <input type="time"
              class="form-input w-full mt-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="horaFin" required>
            <!-- Mensaje de error para la validación de fecha de fin -->
            <div *ngIf="form.get('fechaFin')?.invalid && (form.get('fechaFin')?.dirty || form.get('fechaFin')?.touched)"
              class="text-red-500 mt-1">Fecha de fin es requerida.</div>
            <div
              *ngIf="form.hasError('dateRange') && (form.get('fechaInicio')?.touched || form.get('fechaFin')?.touched)"
              class="text-red-500 mb-2">La fecha/hora de inicio debe ser anterior a la fecha/hora de fin.</div>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="bg-green-400 hover:bg-green-500 text-white py-2 px-4 rounded">Agregar</button>
          </div>
          <div *ngIf="showErrorField" class="text-red-500 mt-2 text-center">
            Por favor, completa todos los campos obligatorios.
          </div>
          <!-- Aquí se mostrará el mensaje de error -->
          <div *ngIf="showError" class="text-red-500 mt-2">Ya existe un horario en el rango de fechas especificado</div>
        </form>
      </div>
    </div>
  </div>
<!-- AddScheduleComponent template -->

Modal para mostrar los detalles del evento
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Detalles del evento</h2>
    <div>
      <h4 class="font-bold">Título:</h4>
      <p>{{ selectedEvent?.title }}</p>
      <h4 class="font-bold">Fecha de inicio:</h4>
      <p>{{ selectedEvent?.start_datetime }}</p>
      <h4 class="font-bold">Fecha de fin:</h4>
      <p>{{ selectedEvent?.end_datetime }}</p>
      <!-- Asegúrate de mostrar más campos si los necesitas -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="deleteEvent(selectedEvent?.id)">Eliminar</button>
      <button class="btn btn-primary" (click)="editEvent()">Editar</button>
      <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>

<!-- Resto del contenido del AddScheduleComponent -->

   <!-- Listado de eventos -->
   <div class="mt-8">
    <h2 class="text-lg font-bold mb-4">Eventos Recibidos</h2>
    <ul>
      <li *ngFor="let event of events" (click)="showEventDetails(event)">
        <span>{{ event.title }}</span> - <span>{{ event.start }}</span> - <span>{{ event.end }}</span>
      </li>
    </ul>
  </div>

  <!-- Botón de volver atrás -->
  <div class="flex justify-center mt-4">
    <button class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded" (click)="goBack()">Volver
      atrás</button>
  </div>
</div>

