<div class="container mx-auto mt-8">
  <div class="flex items-center">
    <i class='bx bx-file text-4xl text-gray-600'></i>
    <h1 class="text-2xl font-bold ml-4">Añadir documento</h1>
  </div>

  <hr class="my-4 border-gray-400">
  <form [formGroup]="documentForm" class="flex flex-col items-center" (ngSubmit)="submitForm()" enctype="multipart/form-data">

    <!-- Information document -->
    <div class="w-full max-w-4xl">
      <div class="border border-black p-4 rounded-lg bg-white">
        <h2 class="text-lg font-bold">Información del documento</h2>
        <hr class="my-2 border-gray-400">

        <div class="mt-2">
          <label for="type_documents" class="block">Tipo de documento</label>
          <select id="type_documents" formControlName="type_documents" class="border border-gray-300 rounded-md p-2 w-full shadow-inner">
            <option value="" disabled selected>Seleccione el tipo de documento</option>
            <option value="contract">Contrato</option>
            <option value="nif">NIF</option>
            <option value="curriculum">Curriculum</option>
            <option value="laboral_life">Vida laboral</option>
            <option value="payroll">Nómina</option>
            <option value="proof">Justificante</option>
            <option value="others">Otros</option>

          </select>
          <div *ngIf="documentForm.get('type_documents')?.errors?.['required'] && (documentForm.get('type_documents')?.dirty || documentForm.get('type_documents')?.touched)" class="text-red-500 mt-2">Tipo de documento es obligatorio.</div>
        </div>
        <div class="mt-2">
          <label for="name" class="block">Nombre</label>
          <input type="text" id="name" formControlName="name" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nombre del documento" maxlength="70">
          <div *ngIf="documentForm.get('name')?.errors?.['required'] && (documentForm.get('name')?.dirty || documentForm.get('name')?.touched)" class="text-red-500 mt-2">Nombre es obligatorio.</div>
        </div>
        <div class="mt-2">
          <label for="description" class="block">Descripción</label>
          <textarea id="description" formControlName="description" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Descripción del documento"></textarea>
          <div *ngIf="documentForm.get('description')?.errors?.['required'] && (documentForm.get('description')?.dirty || documentForm.get('description')?.touched)" class="text-red-500 mt-2">Descripción es obligatoria.</div>
        </div>
        <div class="mt-2">
          <label for="date" class="block">Fecha</label>
          <input type="date" id="date" formControlName="date" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Fecha del documento">
          <div *ngIf="documentForm.get('date')?.errors?.['required'] && (documentForm.get('date')?.dirty || documentForm.get('date')?.touched)" class="text-red-500 mt-2">Fecha es obligatoria.</div>
          <div *ngIf="documentForm.get('date')?.errors?.['invalidPastDate'] && (documentForm.get('date')?.dirty || documentForm.get('date')?.touched)" class="text-red-500 mt-2">La fecha no puede ser tan antigua.</div>
          <div *ngIf="documentForm.get('date')?.errors?.['invalidFutureDate'] && (documentForm.get('date')?.dirty || documentForm.get('date')?.touched)" class="text-red-500 mt-2">La fecha no puede ser del futuro.</div>
        </div>
        <div class="mt-2">
          <label for="route" class="block">Archivo</label>
          <input type="file" id="route" (change)="onFileChange($event)" accept=".pdf, .doc, .docx" class="border border-gray-300 rounded-md p-2 w-full shadow-inner">
          <div *ngIf="documentForm.get('route')?.errors?.['required'] && (documentForm.get('route')?.dirty || documentForm.get('route')?.touched)" class="text-red-500 mt-2">Archivo es obligatorio.</div>
          <div *ngIf="documentForm.get('route')?.errors?.['invalidFileExtension'] && (documentForm.get('route')?.dirty || documentForm.get('route')?.touched)" class="text-red-500 mt-2">El fichero debe tener una extensión de archivo válida (pdf, doc, docx).</div>
          <div *ngIf="documentForm.get('route')?.value && !documentForm.get('route')?.errors" class="text-green-500 mt-2">Archivo válido.</div>
        </div>

      </div>
    </div>
<div *ngIf="showMissingFieldsError && documentForm.invalid" class="text-red-500 mt-2">
  Por favor rellena todos los campos.
</div>
    <!-- Botón "Add Document" and CANCEL-->
    <div class="mt-8 mb-3">
      <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold px-6 py-3 rounded-lg mr-4">Añadir Documento</button>
      <button type="button" class="bg-gray-500 hover:bg-red-500 text-white font-bold px-6 py-3 rounded-lg" (click)="openModal()">Cancelar</button>
    </div>
  </form>
</div>

<app-cancelmodal (confirm)="confirmCancelEdit()" (cancel)="closeModal()"></app-cancelmodal>
