<div class="container mx-auto mt-8">
  <!-- Icono "Añadir documento" y texto -->
  <div class="flex items-center">
    <i class='bx bx-file text-4xl text-gray-600'></i>
    <h1 class="text-2xl font-bold ml-4">Añadir documento</h1>
  </div>

  <!-- Línea divisora -->
  <hr class="my-4 border-gray-400">
  <form [formGroup]="documentForm" (submit)="addDocument()">

    <div class="container mx-auto mt-8 flex">
      <!-- Información del documento -->
      <div class="flex-1 mr-4">
        <div class="border border-black p-4 rounded-lg bg-white">
          <h2 class="text-lg font-bold">Información del documento</h2>
          <hr class="my-2 border-gray-400">

          <div class="mt-2">
            <label for="tipo" class="block">Tipo de documento</label>
            <select id="tipo" formControlName="tipo"
              class="border border-gray-300 rounded-md p-2 w-full shadow-inner">
              <option value="" disabled selected>Seleccione el tipo de documento</option>
              <option value="tipo1">Tipo 1</option>
              <option value="tipo2">Tipo 2</option>
              <!-- Agrega más opciones según tus necesidades -->
            </select>
            <div *ngIf="documentForm.get('tipo')?.errors?.['required'] && (documentForm.get('tipo')?.dirty || documentForm.get('tipo')?.touched)"
              class="text-red-500 mt-2">Tipo de documento es obligatorio.</div>
          </div>
          <div class="mt-2">
            <label for="nombre" class="block">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre"
              class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nombre del documento">
            <!-- Agrega mensajes de error según necesites -->
          </div>
          <div class="mt-2">
            <label for="descripcion" class="block">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion"
              class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Descripción del documento"></textarea>
            <!-- Agrega mensajes de error según necesites -->
          </div>
          <div class="mt-2">
            <label for="fecha" class="block">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha"
              class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Fecha del documento">
            <!-- Agrega mensajes de error según necesites -->
          </div>
          <div class="mt-2">
            <label for="archivo" class="block">Archivo</label>
            <input type="file" id="archivo" formControlName="archivo" accept=".pdf, .doc, .docx"
              class="border border-gray-300 rounded-md p-2 w-full shadow-inner">
            <!-- Agrega mensajes de error según necesites -->
          </div>
        </div>
      </div>
    </div>

    <!-- Botón "Añadir Documento" y CANCELAR-->
    <div class="mt-8 mb-3 flex justify-center">
      <button type="submit" class="bg-custom-500 text-white px-6 py-3 rounded-lg mr-4">Añadir Documento</button>
      <button type="button" class="bg-gray-500 text-white px-6 py-3 rounded-lg">Cancelar</button>
    </div>
  </form>
</div>
