<div class="container mx-auto mt-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="px-6 py-4">
      <h2 class="text-2xl font-bold mb-4">Historial de Incidencias</h2>
      <ng-container *ngIf="userIncidents.length > 0; else noIncidents">
        <!-- List incidents of user -->
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
          <div *ngFor="let incident of userIncidents" class="bg-gray-100 px-4 py-3 rounded-lg">
            <div class="flex items-center justify-between mb-2">
              <h3 class="text-lg font-semibold text-gray-900">{{ translateType(incident.incident_type) }}</h3>
              <span class="text-gray-600 font-bold">{{ incident.date }}</span>
            </div>

            <div class="flex items-start mb-2">
              <p class="text-gray-600 truncate ml-0">{{ incident.description }}</p>
            </div>
            <div class="flex justify-between">
              <p>
                <span class="font-bold">Estado:</span>
                <span class="font-semibold"  [ngClass]="{ 'text-custom-500': incident.status === 'completed', 'text-custom-600': incident.status === 'pending' }">
                  {{ translateStatus(incident.status) }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Show message -->
      <ng-template #noIncidents>
        <p class="text-gray-600">No hay incidencias</p>
      </ng-template>
    </div>
    <div class="bg-gray-200 px-6 py-4 flex justify-end">
      <!-- Button add incidents -->
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" routerLink="/history_incidents/add_incidents">
        Agregar Incidencia
      </button>
    </div>
  </div>
</div>
