<div class="container mx-auto mt-8">
  <!-- Encabezado -->
  <div class="flex items-center justify-between mb-4 ml-5"> <!-- Added ml-4 for left space -->
    <div class="flex items-center">
      <h1 class="text-lg font-bold mr-2 sm:text-xl md:text-2xl lg:text-3xl">Empleados</h1>
      <div class="border-l h-6 mr-2"></div>
      <div class="text-sm text-gray-500">{{ employees.length }} Trabajadores</div>
    </div>
    <div class="flex ml-auto mr-8"> <!-- Increased mr-8 for more right space -->
      <button routerLink="/employees/add_employee" class="flex items-center bg-gray-200 hover:bg-gray-300 px-2 py-1 rounded-lg mr-2">
        <i class='bx bxs-user-plus text-xl'></i>
        <span class="ml-1">Añadir</span>
      </button>
      <button class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg">
        <i class='bx bx-filter text-xl'></i>
        <span class="ml-1">Filtros</span>
      </button>
    </div>
  </div>

  <div class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto"> <!-- Added overflow-x-auto for horizontal scrolling -->
    <table class="w-full">
      <!-- Cabecera de la tabla -->
      <thead>
        <tr class="bg-gray-200">
          <th class="text-center px-4 py-2">ID</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">Foto</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">Nombre</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">Email</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">Teléfono</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">País</th> <!-- Added text-center and px-4 class -->
          <th class="text-center px-4 py-2">Acción</th> <!-- Added text-center and px-4 class -->
        </tr>
      </thead>
      <!-- Datos de los empleados -->
      <tbody>
        <ng-container *ngFor="let employee of employees; let i = index">
          <tr>
            <td class="text-center px-4 py-2">{{ employee.id }}</td> <!-- Changed to text-center -->
            <td class="text-center px-4 py-2"> <!-- Changed to text-center -->
              <div class="rounded-full overflow-hidden border border-gray-300 h-8 w-8">
                <img [src]="employee.photo" alt="Foto de {{ employee.name }}" class="h-full w-full object-cover" width="25" height="25">
              </div>
            </td>
            <td class="text-center px-4 py-2">{{ employee.name }} {{ employee.surname }}</td> <!-- Changed to text-center -->
            <td class="text-center px-4 py-2">{{ employee.email }}</td> <!-- Changed to text-center -->
            <td class="text-center px-4 py-2">{{ employee.telephone }}</td> <!-- Changed to text-center -->
            <td class="text-center px-4 py-2">{{ employee.country }}</td> <!-- Changed to text-center -->
            <td class="text-center px-4 py-2">
              <!-- <button (click)="navigateToDocuments(employee)">
                </button> -->

              <a [routerLink]="['/employees/edit_employee', employee.id]">
                <i class='bx bx-edit text-xl text-black mr-2'></i>
              </a>
              <button (click)="confirmDeleteEmployee(employee.id)">
                <i class='bx bx-trash text-xl text-black'></i>
              </button>
            </td>
          </tr>
          <!-- Línea separadora -->
          <tr *ngIf="i !== employees.length - 1">
            <td colspan="7" class="border-t border-gray-300"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
