<div class="container mx-auto mt-8">
  <!-- Detalles del usuario y welcome-->
  <!-- <div class="w-full bg-gray-100 p-4 rounded-xl mb-8">
      <div class="flex justify-between items-center">
          <div>
              <h1 class="text-lg font-bold">Hola Admin</h1>
              <p class="text-sm">Hora: 12:00 PM | Fecha: 5 de abril de 2024</p>
          </div>
          <div class="flex items-center">
              <p class="mr-2">Admin</p>
              <i class="bx bx-user-circle text-2xl"></i>
          </div>
      </div>
  </div> -->

  <!-- Encabezado -->
  <div class="flex items-center justify-between mb-4">
      <div class="flex items-center">
          <h1 class="text-lg font-bold mr-2">Empleados</h1>
          <div class="border-l h-6 mr-2"></div>
          <div class="text-sm text-gray-500">{{employees.length}} Trabajadores</div>
      </div>
      <div class="flex">
          <button routerLink="/employees/add_employee" class="flex items-center bg-gray-200 hover:bg-gray-300 px-2 py-1 rounded-lg mr-2">
              <i class='bx bxs-user-plus text-xl'></i>
              <span class="ml-1">Añadir</span>
          </button>
          <button class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg">
              <i class='bx bx-filter text-xl'></i>
              <span class="ml-1">Filtros</span>
          </button>
      </div>
  </div>

  <!-- Lista de empleados -->
  <div class="bg-white rounded-xl shadow-lg p-4">
      <table class="w-full">
          <!-- Cabecera de la tabla -->
          <thead>
              <tr class="bg-gray-200">
                <th>Id</th>
                  <th>Foto</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>País</th>
                  <th class="text-center">Acción</th>
              </tr>
          </thead>
          <!-- Datos de los empleados -->
          <tbody>

              <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                 <td>
                    <div class="rounded-full overflow-hidden border border-gray-300 h-8 w-8">
                        <img [src]="employee.photo" alt="Foto de {{ employee.name }}" class="h-full w-full object-cover" width="25" height="25">
                    </div>
                </td>
                <td>{{ employee.name }} {{ employee.surname }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.telephone }}</td>
                  <td>{{ employee.country }}</td>
                  <td class="text-center">
                      <a routerLink="/documents">
                          <i class='bx bx-file text-xl text-black mr-2'></i>
                      </a>
                      <a [routerLink]="['/employees/edit_employee', employee.id]">
                        <i class='bx bx-edit text-xl text-black mr-2'></i>
                      </a>
                      <button (click)="confirmDeleteEmployee(employee.id)">
                        <i class='bx bx-trash text-xl text-black'></i>
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
