<p>absences works!</p>
  <!-- Encabezado -->
  <div class="flex items-center justify-between mb-4 ml-5"> <!-- Added ml-4 for left space -->
    <div class="flex items-center">
      <h1 class="text-lg font-bold mr-2">Ausencias</h1>

    </div>
    <div class="flex ml-auto mr-8">
      <button (click)="openModal()"
        class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg">
        <i class='bx bx-plus'></i>
        <span class="ml-1">Añadir ausencias</span>
      </button>
    </div>
  </div>

  <!-- Main modal -->
  <div id="crud-modal" *ngIf="showModal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 flex items-center justify-center z-50">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative p-4 w-full max-w-2xl">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Ausencias
          </h3>

          <button type="button" (click)="closeModal()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <p class="text-sm text-gray-600 dark:text-gray-400 p-4 md:p-5">
          Sólo managers y administradores pueden hacer cambios en las peticiones de ausencia pasadas.
        </p>
        <!-- Modal body -->
        <form class="p-4 md:p-5" [formGroup]="ausenciaForm" (ngSubmit)="onSubmit()">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <!-- Form inputs here -->
            <div class="col-span-1">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de empleado/a</label>
              <select id="name" name="name" formControlName="name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      [class.border-red-500]="ausenciaForm.controls['name'].invalid && ausenciaForm.controls['name'].touched"
                      required>
                <option value="">Seleccione el empleado</option>
                <!-- Populate options dynamically from database -->
                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.nif}} {{ employee.surname }}</option>
              </select>
              <div *ngIf="ausenciaForm.controls['name'].invalid && ausenciaForm.controls['name'].touched" class="text-red-500">
                <p *ngIf="ausenciaForm.controls['name'].errors?.['required']">Empleado es obligatorio*</p>
              </div>
            </div>

            <div class="col-span-1">
              <label for="absenceType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
                ausencias</label>
              <select id="absenceType" name="absenceType" formControlName="absenceType"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              [class.border-red-500]="ausenciaForm.controls['absenceType'].invalid && ausenciaForm.controls['absenceType'].touched"
              required>
                <option value="">Seleccione el tipo</option>
                <!-- Populate options dynamically from database -->
                <option value="1">Vacaciones</option>
                <option value="2">Enfermedad</option>
                <option value="3">maternidad/paternidad</option>
                <option value="4">Compensatorias</option>
                <option value="5">Baja</option>
                <option value="6">Otros</option>
                <!-- Add more options as needed -->
              </select>
              <div *ngIf="ausenciaForm.controls['absenceType'].invalid && ausenciaForm.controls['absenceType'].touched" class="text-red-500">
                <p *ngIf="ausenciaForm.controls['absenceType'].errors?.['required']">Tipo de ausencia es obligatorio*</p>
              </div>
            </div>

            <div class="col-span-2 mt-4 grid grid-cols-2 gap-4">
              <div>
                <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date</label>
                <input type="date" id="startDate" name="startDate" placeholder="Select start date"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
                       {{ ausenciaForm.get('startDate')?.invalid && ausenciaForm.get('startDate')?.touched ? 'border-red-500' : '' }}"
                       formControlName="startDate">
                <div *ngIf="ausenciaForm.get('startDate')?.invalid && ausenciaForm.get('startDate')?.touched" class="text-red-500">
                  <p *ngIf="ausenciaForm.get('startDate')?.errors?.['required']">Start Date is required</p>
                  <p *ngIf="ausenciaForm.get('startDate')?.errors?.['invalidStartDate']">Invalid Start Date</p>
                </div>
              </div>
              <div>
                <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End Date</label>
                <input type="date" id="endDate" name="endDate" placeholder="Select end date"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500
                       {{ ausenciaForm.get('endDate')?.invalid && ausenciaForm.get('endDate')?.touched ? 'border-red-500' : '' }}"
                       formControlName="endDate">
                <div *ngIf="ausenciaForm.get('endDate')?.invalid && ausenciaForm.get('endDate')?.touched" class="text-red-500">
                  <p *ngIf="ausenciaForm.get('endDate')?.errors?.['required']">End Date is required</p>
                  <p *ngIf="ausenciaForm.get('endDate')?.errors?.['invalidEndDate']">Invalid End Date</p>
                </div>
              </div>
            </div>
            </div>


            <div class="col-span-2">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Descripción
              </label>
              <textarea id="description" rows="4" formControlName="description"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
                border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600
                dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                dark:focus:border-blue-500
                {{ ausenciaForm.get('description')?.invalid && ausenciaForm.get('description')?.touched ? 'border-red-500' : '' }}"
                placeholder="Escriba aquí la descripción de la ausencia"></textarea>
              <div *ngIf="ausenciaForm.get('description')?.invalid && ausenciaForm.get('description')?.touched"
                class="text-red-500">
                <p *ngIf="ausenciaForm.get('description')?.errors?.['required']">Descripción es obligatoria</p>
              </div>
            </div>

            <div class="col-span-2 flex justify-center space-x-4 mt-4">
              <button type="submit" class="flex items-center bg-blue-400 hover:bg-blue-500 text-white px-4 py-2 rounded-lg text-lg">
                <i class='bx bx-check-square'></i>
                <span class="ml-2">GUARDAR</span>
              </button>
            <button type="button" (click)="closeModal()" class="flex items-center bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg text-lg">
                <i class='bx bx-error-circle'></i>
                <span class="ml-2">CANCELAR</span>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>



  <!-- TABLE -->

  <div class="px-4 py-2"> <!-- Added padding to the container -->
    <div class="w-full bg-white border border-green-400 rounded-xl p-4 mb-8"> <!-- Removed ml-4 and mr-4 -->
      <!-- <h2 class="text-xl font-bold mb-4">Incidencias</h2> -->

      <div class="overflow-x-auto"> <!-- Removed ml-4 and mr-4 -->
        <table class="w-full divide-y divide-gray-200">
          <!-- Table content -->
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                USUARIO
              </th>

              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                EMAIL
              </th>

              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                ESTADO
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Acción
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full"
                      src="https://avatars0.githubusercontent.com/u/57622665?s=460&amp;u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&amp;v=4"
                      alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">John Doe</div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Lorem@gmail.com</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  Completado
                </span>
              </td>
            </tr>
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full"
                      src="https://avatars0.githubusercontent.com/u/57622665?s=460&amp;u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&amp;v=4"
                      alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">John Doe</div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Lorem@gmail.com</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  Completado
                </span>
              </td>
              <!-- <td class="px-6 py-4 whitespace-nowrap">
              <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>  <span>Añadir Ausencia</span>
              </button>
            </td> -->
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                  </svg> -->
                  Añadir ausencia

                </span>
              </td>
            </tr>
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full"
                      src="https://avatars0.githubusercontent.com/u/57622665?s=460&amp;u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&amp;v=4"
                      alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">John Doe</div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Lorem@gmail.com</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  Completado
                </span>
              </td>
            </tr>
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full"
                      src="https://avatars0.githubusercontent.com/u/57622665?s=460&amp;u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&amp;v=4"
                      alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">John Doe</div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Lorem@gmail.com</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  Completado
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
