<div class="flex items-center justify-between mb-4 ml-5">
  <div class="flex ml-auto mr-8">
    <button class="flex items-center bg-gray-200 hover:bg-green-400 text-black px-2 py-1 rounded-lg mr-2" (click)="openAddAbsenceModal()">
      <i class='bx bx-plus'></i>
      <span class="ml-1">Añadir ausencia</span>
    </button>

    <!-- Filtros -->
    <div class="relative mr-4">
      <button class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg" (click)="toggleFilterDropdown()">
        <i class='bx bx-filter text-xl'></i>
        <span class="ml-1">Filtros</span>
      </button>
      <!-- Filter dropdown -->
      <div *ngIf="showFilterDropdown" class="absolute right-0 mt-1 bg-white border border-gray-300 rounded-lg py-1 px-2 w-32 sm:w-48 z-10">
        <ul class="py-1">
          <li *ngFor="let option of filterOptions" (click)="selectFilter(option); resetPagination()" class="px-4 py-2 cursor-pointer hover:bg-gray-100">{{ option }}</li>
        </ul>
      </div>
    </div>

    <!-- Empleados -->
    <div class="relative">
      <button class="flex items-center bg-green-400 hover:bg-green-500 text-white px-2 py-1 rounded-lg" (click)="toggleEmployeeDropdown()">
        <i class='bx bx-user text-xl'></i> <!-- Icono de persona -->
      </button>
      <!-- Dropdown de empleado -->
      <div *ngIf="showEmployeeDropdown" class="absolute right-0 mt-1 bg-white border border-gray-300 rounded-lg py-1 px-2 w-32 sm:w-48 z-10">
        <ul class="py-1">
          <li *ngFor="let employee of employees" (click)="onSelectEmployee(employee.id); resetPagination()" class="px-4 py-2 cursor-pointer hover:bg-gray-100">{{ employee.name }}</li>
        </ul>
      </div>
    </div>
  </div>

</div>



<!-- TABLE -->

<div class="px-4 py-2">
  <h2 class="text-xl font-bold mb-4">Ausencias</h2>
  <div  *ngIf="isError" class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 " >
    <div  class="text-red-600 font-bold mb-4">
      Error al cargar las ausencias.Por favor, inténtelo de nuevo más tarde.
    </div>
  </div>
  <div *ngIf="!isError" class="w-full bg-white border border-green-400 rounded-xl p-4 mb-8">

    <div class="overflow-x-auto" >
      <table class="w-full divide-y divide-gray-200">
        <!-- Add a div with a fixed position to center the spinner -->
        <!-- <div class="fixed top-0 left-0 w-full h-full flex justify-center items-center" *ngIf="isLoading">
          <div role="status" class="flex flex-col items-center">
            Replace the spinner with the logo image
            <img src="../../../assets/img/logo.webp" alt="Logo" class="inline w-27 md:w-29 h-29 md:h-26 animate-spin" />
            <span class="font-bold mt-2">cargando...</span>
          </div>
        </div> -->



        <!-- Table content -->
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              FOTO
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              NOMBRE
            </th>

            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              TIPO
            </th>

            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              FECHA DE INICIO
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              FECHA FINAL
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
              ACCIÓN
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <ng-container *ngIf="absences.length > 0; else noAbsences">
            <tr class="transition-all hover:bg-gray-100 hover:shadow-lg" *ngFor="let absence of absences |paginate:{ itemsPerPage: 7, currentPage: p }">

              <!-- <td class="px-6 py-4 whitespace-nowrap">{{ absence.id }}</td> -->
              <td class="px-6 py-4 whitespace-nowrap">
                <img src="{{ absence.employee.photo }}" alt="Employee Photo" class="w-10 h-10 rounded-full">
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ absence.employee.name }} {{ absence.employee.surname }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ getTipoAusenciaTraducido(absence.type_absence) }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ absence.start_date }}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{ absence.end_date }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="relative">
                  <button (click)="openAbsenceModal(absence)" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 p-1.5 text-center rounded-lg focus:outline-none">
                    <i class='bx bxs-show text-xl mr-2  text-black '></i>
                  </button>
                  <button (click)="deleteAbsence(absence.id)" class="inline-flex items-center text-sm font-medium text-red-500 hover:text-red-700 p-1.5 text-center rounded-lg focus:outline-none">
                    <i class='bx bx-trash text-xl text-red-600'></i>
                  </button>
                </div>
              </td>

            </tr>
          </ng-container>
          <ng-template #noAbsences>
            <tr>
              <td colspan="6" class="px-6 py-8 text-center text-gray-500">
                No Hay Ausencias
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"
          class="custom-pagination flex justify-end my-4" [maxSize]="10" [directionLinks]="true" [autoHide]="false"
          previousClass="bg-gray-300 px-4 py-2 rounded-l" nextClass="bg-gray-300 px-4 py-2 rounded-r"
          directionLinkClass="bg-gray-300 px-4 py-2 rounded" ellipses="..." ellipsesClass="bg-gray-300 px-4 py-2"
          pageLinkClass="text-blue-400 px-4 py-2 rounded" [responsive]="true"></pagination-controls>

    </div>
  </div>
</div>

<!-- Modal de Detalles de la Ausencia -->
<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="selectedAbsence">
  <div class="bg-white rounded-xl shadow-lg p-6 w-full max-w-lg">
    <!-- Encabezado del modal-->
    <div class="flex items-center justify-center mb-4">
      <div class="flex-shrink-0 mr-4">
        <div class="rounded-full overflow-hidden bg-gray-200 p-1">
          <img [src]="selectedAbsence.employee.photo" alt="Foto de {{ selectedAbsence.employee.name }}"
            class="h-16 w-16 object-cover rounded-full">
        </div>
      </div>
      <h2 class="text-2xl font-bold text-black-400">{{ selectedAbsence.employee.name }} {{ selectedAbsence.employee.surname }}</h2>
    </div>

    <!-- Línea divisora-->
    <div class="flex items-center justify-center mb-4">
      <div class="border-b border-gray-300 flex-grow mr-4"></div>
      <div class="text-gray-500">Ausencia Detalles</div>
      <div class="border-b border-gray-300 flex-grow ml-4"></div>
    </div>

    <!-- Sección de Ausencia Detalles -->
    <div class="mb-4 text-gray-700 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="col-span-1">
        <p class="text-sm"><strong>Fecha de Inicio</strong></p>
        <p class="text-gray-900">{{ selectedAbsence.start_date }}</p>
      </div>
      <div class="col-span-1">
        <p class="text-sm"><strong>Fecha Final</strong></p>
        <p class="text-gray-900">{{ selectedAbsence.end_date }}</p>
      </div>
      <div class="col-span-1">
        <p class="text-sm"><strong>Tipo</strong></p>
        <p class="text-gray-900">{{ selectedAbsence.type_absence }}</p>
      </div>
      <div class="col-span-1">
        <p class="text-sm"><strong>Descripción</strong></p>
        <p class="text-gray-900">{{ selectedAbsence.motive }}</p>
      </div>
    </div>

    <!-- Botón de Cerrar -->
    <button class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded-full w-full"
      (click)="closeAbsenceModal()">Cerrar</button>
  </div>
</div>

<app-delete-confirmation-modal [showConfirmationModal]="showDeleteConfirmationModal"
  (closeModalEvent)="showDeleteConfirmationModal = false" (confirmDelete)="performDelete()">
</app-delete-confirmation-modal>
<app-success-alert *ngIf="deleteSuccess" message="La ausencia ha sido eliminada correctamente"></app-success-alert>
<app-add-absences (absenceAdded)="onAbsenceAdded()"></app-add-absences>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
