<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 font-poppins">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="card bg-white shadow-md p-8 rounded-lg mt-8">
      <img class="mx-auto h-40 w-auto" src="assets/img/logo.webp" alt="Logo de Job Master">
      <h2 class="mt-10 text-center text-3xl font-semibold leading-9 tracking-tight text-gray-900">JOB MASTER</h2>

      <form class="space-y-6 mt-8" [formGroup]="login" (ngSubmit)="onSubmit()">
        <div>
          <label for="nif" class="block text-lg font-medium leading-6 text-gray-900">NIF</label>
          <div class="mt-2">
            <input id="nif" name="nif" type="text" placeholder="Introduce tu NIF" formControlName="nif" appNifValidator
              required maxlength="9"
              class="block w-full rounded-md border-0 py-2 pl-2 text-lg text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-6">
          </div>
          <div *ngIf="login.get('nif')?.invalid && (login.get('nif')?.dirty || login.get('nif')?.touched)"
            class="text-red-500 mt-2">Por favor, introduce un NIF válido.</div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-lg font-medium leading-6 text-gray-900">Contraseña</label>
          </div>

          <div class="mt-2 relative">
            <input id="password" name="password" [type]="passwordVisible ? 'text' : 'password'"
              autocomplete="current-password" formControlName="password" placeholder="Introduce tu contraseña" required
              class="block w-full rounded-md border-0 py-2 pl-2 pr-10 text-lg text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-lg sm:leading-6">
            <button type="button" class="absolute right-0 top-0 h-full bg-custom-800 rounded-r-md text-black px-3 py-2"
              (click)="togglePasswordVisibility()">
              {{ passwordVisible ? 'Ocultar' : 'Mostrar' }}
            </button>

          </div>
          <div
            *ngIf="login.get('password')?.errors?.['required'] && (login.get('password')?.dirty || login.get('password')?.touched)"
            class="text-red-500 mt-2">La contraseña es requerida.</div>

          <div
            *ngIf="login.get('password')?.errors?.['pattern'] && (login.get('password')?.dirty || login.get('password')?.touched) && login.get('nif')?.value.toLowerCase() !== 'admin'"
            class="text-red-500 mt-2">La contraseña debe tener al menos 8 caracteres, incluyendo al menos una letra
            mayúscula, una letra minúscula, y un número.</div>
        </div>

        <div>
          <!-- Error message if admin login fails -->
          <div *ngIf="mensaje" class="text-red-500 mt-2">{{ mensaje }}</div>
          <!-- Error message if the user login fails -->
          <div *ngIf="mensajeCredential" class="text-red-500 mt-2">{{ mensajeCredential }}</div>
          <!-- Empty fields error message -->
          <div *ngIf="mensajeEmptyField" class="text-red-500 mt-2">{{ mensajeEmptyField }}</div>

          <button type="submit"
            class="flex w-full justify-center rounded-md bg-green-400 px-4 py-2 text-lg font-semibold leading-6 text-black shadow-sm hover:bg-green-500 hover:opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
            style="background-color: #92E3A9;">Iniciar Sesión</button>
        </div>
      </form>

      <div class="text-center mt-4">
        <a routerLink="/request-password-reset" class="text-lg text-gray-500 hover:text-gray-900">¿Olvidaste tu
          contraseña?</a>
      </div>
    </div>
  </div>
</div>
