<div class="container mx-auto">
  <div class="flex flex-wrap justify-center items-start">
    <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
      <h2 class="text-xl font-bold mb-4">Horario de {{ employeeName }}</h2>
      <full-calendar #fullcalendar [options]="calendarOptions" (eventClick)="handleEventClick($event)"></full-calendar>
    </div>

    <div class="w-full md:w-1/4 px-4 md:pl-8">
      <div class="bg-white p-5 rounded-lg shadow">
        <h2 class="text-lg font-bold mb-4">Editar Turno</h2>
        <form [formGroup]="form" (submit)="editarHorario()">
          <div class="mb-4">
            <label for="title" class="block text-sm font-bold mb-1">Título:</label>
            <input type="text"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="title" required>
            <div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)"
              class="text-red-500 mt-1">Título es requerido.</div>
          </div>
          <div class="mb-4">
            <label for="startDate" class="block text-sm font-bold mb-1">Fecha de inicio:</label>
            <input type="date"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="fechaInicio" required>
            <input type="time"
              class="form-input w-full mt-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="horaInicio" required>

            <div
              *ngIf="form.get('fechaInicio')?.invalid && (form.get('fechaInicio')?.dirty || form.get('fechaInicio')?.touched)"
              class="text-red-500 mt-1">Fecha de inicio es requerida.</div>

          </div>

          <div class="mb-4">
            <label for="endDate" class="block text-sm font-bold mb-1">Fecha de fin:</label>
            <input type="date"
              class="form-input w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="fechaFin" required>
            <input type="time"
              class="form-input w-full mt-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-400"
              formControlName="horaFin" required>

            <div *ngIf="form.get('fechaFin')?.invalid && (form.get('fechaFin')?.dirty || form.get('fechaFin')?.touched)"
              class="text-red-500 mt-1">Fecha de fin es requerida.</div>
            <div
              *ngIf="form.hasError('dateRange') && (form.get('fechaInicio')?.touched || form.get('fechaFin')?.touched)"
              class="text-red-500 mb-2">La fecha/hora de inicio debe ser anterior a la fecha/hora de fin.</div>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="bg-green-400 hover:bg-green-500 text-white py-2 px-4 rounded">Guardar</button>
          </div>
          <div *ngIf="showErrorField" class="text-red-500 mt-2 text-center">
            Por favor, completa todos los campos obligatorios.
          </div>

          <div *ngIf="showError" class="text-red-500 mt-2">Ya existe un horario en el rango de fechas especificado</div>
        </form>
      </div>
    </div>

  </div>

  <!-- Main modal -->
  <div id="crud-modal" *ngIf="showModal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 flex items-center justify-center z-50">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative p-4 w-full max-w-2xl">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Detalles de evento
          </h3>
          <button type="button" (click)="closeModal()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>


        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Título:</h4>
          <p>{{ selectedEvent?.title }}</p>
          <h4 class="text-lg font-semibold text-gray-900 dark:text-white mt-4">Fecha de inicio:</h4>
          <p>{{ selectedEvent?.start }}</p>
          <h4 class="text-lg font-semibold text-gray-900 dark:text-white mt-4">Fecha de fin:</h4>
          <p>{{ selectedEvent?.end }}</p>
          <hr class="my-4">
          <div class="flex justify-center space-x-4 mt-4">
            <button class="flex items-center bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg text-lg"
              (click)="openEditForm()" *ngIf="selectedEvent">
              <i class='bx bx-edit-alt'></i>
              <span class="ml-2">Editar</span>
            </button>
            <button class="flex items-center bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg text-lg"
              (click)="closeModal()">
              <i class='bx bx-x'></i>
              <span class="ml-2">Cancelar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <button class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded" (click)="goBack()">Volver
      atrás</button>
  </div>
</div>
