<div class="container mx-auto mt-8 flex justify-center">
  <!-- Divs de la parte izquierda -->
  <div class="flex flex-col justify-between w-1/3">

      <!-- Div 2 -->
      <div class="bg-white rounded-lg p-8 mb-8 flex flex-col items-start">
          <h2 class="text-lg font-bold mb-2"><i class="bx bx-time-five text-2xl text-green-500 mr-4"></i>Horario</h2>
          <div class="flex justify-center">
              <img src="assets/img/schedule.webp" alt="Imagen del Div 2" class="w-32 h-32 object-cover mb-4">
          </div>
          <button class="bg-custom-800 text-white px-4 py-2 rounded-md mx-auto block">Ver el horario</button>
      </div>
      <!-- Div 3 -->
      <div class="bg-white rounded-lg p-8 flex flex-col items-start">
          <h2 class="text-lg font-bold mb-2"><i class="bx bx-folder text-2xl text-green-500 mr-4"></i>Documentos</h2>
          <div class="flex justify-center">
              <img src="ruta/a/la/imagen3.jpg" alt="Imagen del Div 3" class="w-32 h-32 object-cover mb-4">
          </div>
          <button class="bg-custom-800 text-white px-4 py-2 rounded-md mx-auto block">Ver los documentos</button>
      </div>
  </div>

  <!-- Div de la parte derecha -->
  <div class="bg-white rounded-lg p-8 ml-8 w-1/4 flex items-center justify-center">
    <!-- Contenido del Div 4 -->
    <div class="flex flex-col items-center">
        <!-- Foto con borde negro -->
        <div class="border-2 border-black rounded-full overflow-hidden mb-4">
            <img [src]="profileData.photo" alt="Foto del empleado" class="w-48 h-48 rounded-full">
        </div>
        <!-- Nombre -->
        <div class="mb-4">
            <p class="text-2xl font-bold">{{ profileData.name }} {{ profileData.surname }}</p>
        </div>
        <!-- NIF -->
        <div class="mb-2 text-center">
            <p class="text-lg font-bold">NIF:</p>
            <p>{{ profileData.users?.nif }}</p>
        </div>
        <!-- Teléfono -->
        <div class="mb-2 text-center">
            <p class="text-lg font-bold">Teléfono:</p>
            <p>{{ profileData.telephone }}</p>
        </div>
        <!-- Email -->
        <div class="mb-2 text-center">
            <p class="text-lg font-bold">Email:</p>
            <p>{{ profileData.email }}</p>
        </div>
        <!-- Dirección -->
        <div class="mb-2 text-center">
            <p class="text-lg font-bold">Dirección:</p>
            <p>{{ profileData.addresses?.street }}, {{ profileData.addresses?.postal_code }}, {{ profileData.addresses?.city }}</p>
        </div>
    </div>
  </div>
</div>
