<!-- <div class="container mx-auto mt-8 flex">

    <div class="flex-1 mr-4">
        <div class="border border-black p-4 rounded-lg bg-white">
            <h2 class="text-lg font-bold">Información personal</h2>
            <hr class="my-2 border-gray-400">
    
            <form>
                <div>
                    <label for="nombre" class="block">Nombre completo</label>
                    <input type="text" id="nombre" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nombre" required>
                </div>
                <div class="mt-2">
                    <label for="apellido" class="block">Apellido</label>
                    <input type="text" id="apellido" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Apellido" required>
                </div>
                <div class="mt-2">
                    <label for="fecha-nacimiento" class="block">Fecha de nacimiento</label>
                    <input type="date" id="fecha-nacimiento" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Fecha de nacimiento" required>
                </div>
                <div class="mt-2">
                    <label for="nacionalidad" class="block">Nacionalidad</label>
                    <input type="text" id="nacionalidad" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nacionalidad" required>
                </div>
                <div class="mt-2">
                    <label for="genero" class="block">Género</label>
                    <select id="genero" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" required>
                        <option value="" disabled selected>Seleccione su género</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label for="email" class="block">Email</label>
                    <input type="email" id="email" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Email" required>
                </div>
                <div class="mt-2">
                    <label for="telefono" class="block">Teléfono</label>
                    <input type="tel" id="telefono" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Teléfono" required>
                </div>
                <div class="mt-2">
                    <label for="direccion" class="block">Dirección</label>
                    <div>
                        <input type="text" id="direccion-linea1" class="border border-gray-300 rounded-md p-2 w-full shadow-inner mb-2" placeholder="Dirección línea 1" required>
                    </div>
                    <div>
                        <input type="text" id="direccion-linea2" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Dirección línea 2">
                    </div>
                </div>
                <div class="mt-2">
                    <label for="foto" class="block">Foto</label>
                    <input type="file" id="foto" accept="image/*" class="mt-1" required>
                </div>
            </form>
        </div>
    </div>
    
  
    <div class="flex-1 ml-4">
        <div class="bg-white border border-black p-4 rounded-lg h-500">
            <h2 class="text-lg font-bold">Documents</h2>
            <hr class="my-2 border-gray-400">
    
           
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="nombre" class="block">Nombre completo</label>
                    <input type="text" id="nombre" formControlName="nombre" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nombre" required>
                    <div *ngIf="employeeForm.get('nombre').invalid && employeeForm.get('nombre').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('nombre').errors?.required">El nombre es requerido</div>
                        <div *ngIf="employeeForm.get('nombre').errors?.minlength">El nombre debe tener al menos 3 caracteres</div>
                        <div *ngIf="employeeForm.get('nombre').errors?.maxlength">El nombre no debe exceder los 50 caracteres</div>
                        <div *ngIf="employeeForm.get('nombre').errors?.pattern">El nombre solo puede contener letras y espacios</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="apellido" class="block">Apellido</label>
                    <input type="text" id="apellido" formControlName="apellido" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Apellido" required>
                    <div *ngIf="employeeForm.get('apellido').invalid && employeeForm.get('apellido').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('apellido').errors?.required">El apellido es requerido</div>
                        <div *ngIf="employeeForm.get('apellido').errors?.minlength">El apellido debe tener al menos 3 caracteres</div>
                        <div *ngIf="employeeForm.get('apellido').errors?.maxlength">El apellido no debe exceder los 50 caracteres</div>
                        <div *ngIf="employeeForm.get('apellido').errors?.pattern">El apellido solo puede contener letras y espacios</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="fecha-nacimiento" class="block">Fecha de nacimiento</label>
                    <input type="date" id="fecha-nacimiento" formControlName="fechaNacimiento" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Fecha de nacimiento" required>
                    <div *ngIf="employeeForm.get('fechaNacimiento').invalid && employeeForm.get('fechaNacimiento').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('fechaNacimiento').errors?.required">La fecha de nacimiento es requerida</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="nacionalidad" class="block">Nacionalidad</label>
                    <input type="text" id="nacionalidad" formControlName="nacionalidad" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Nacionalidad" required>
                    <div *ngIf="employeeForm.get('nacionalidad').invalid && employeeForm.get('nacionalidad').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('nacionalidad').errors?.required">La nacionalidad es requerida</div>
                        <div *ngIf="employeeForm.get('nacionalidad').errors?.minlength">La nacionalidad debe tener al menos 3 caracteres</div>
                        <div *ngIf="employeeForm.get('nacionalidad').errors?.maxlength">La nacionalidad no debe exceder los 50 caracteres</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="genero" class="block">Género</label>
                    <select id="genero" formControlName="genero" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" required>
                        <option value="" disabled selected>Seleccione su género</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                    <div *ngIf="employeeForm.get('genero').invalid && employeeForm.get('genero').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('genero').errors?.required">El género es requerido</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="email" class="block">Email</label>
                    <input type="email" id="email" formControlName="email" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Email" required>
                    <div *ngIf="employeeForm.get('email').invalid && employeeForm.get('email').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('email').errors?.required">El email es requerido</div>
                        <div *ngIf="employeeForm.get('email').errors?.email">El email no es válido</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="telefono" class="block">Teléfono</label>
                    <input type="tel" id="telefono" formControlName="telefono" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Teléfono" required>
                    <div *ngIf="employeeForm.get('telefono').invalid && employeeForm.get('telefono').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('telefono').errors?.required">El teléfono es requerido</div>
                        <div *ngIf="employeeForm.get('telefono').errors?.minlength">El teléfono debe tener al menos 6 caracteres</div>
                        <div *ngIf="employeeForm.get('telefono').errors?.maxlength">El teléfono no debe exceder los 15 caracteres</div>
                        <div *ngIf="employeeForm.get('telefono').errors?.pattern">El teléfono solo puede contener números</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="direccion" class="block">Dirección</label>
                    <input type="text" id="direccion-linea1" formControlName="direccion" class="border border-gray-300 rounded-md p-2 w-full shadow-inner mb-2" placeholder="Dirección línea 1" required>
                    <input type="text" id="direccion-linea2" formControlName="direccion2" class="border border-gray-300 rounded-md p-2 w-full shadow-inner" placeholder="Dirección línea 2">
                    <div *ngIf="employeeForm.get('direccion').invalid && employeeForm.get('direccion').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('direccion').errors?.required">La dirección es requerida</div>
                        <div *ngIf="employeeForm.get('direccion').errors?.minlength">La dirección debe tener al menos 5 caracteres</div>
                        <div *ngIf="employeeForm.get('direccion').errors?.maxlength">La dirección no debe exceder los 100 caracteres</div>
                    </div>
                </div>
                <div class="mt-2">
                    <label for="foto" class="block">Foto</label>
                    <input type="file" id="foto" accept="image/*" formControlName="foto" class="mt-1" required>
                    <div *ngIf="employeeForm.get('foto').invalid && employeeForm.get('foto').touched" class="text-red-500">
                        <div *ngIf="employeeForm.get('foto').errors?.required">La foto es requerida</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

 Botón "Añadir Usuario" 
<div class="mt-8 mb-3 flex justify-center">
    <button class="bg-custom-500 text-white px-6 py-3 rounded-lg">Añadir Usuario</button>
</div> -->
