<div class="container mx-auto mt-8">
  <div class="flex items-center justify-between mb-4 ml-5">
    <div class="flex items-center">
      <h1 class="text-lg font-bold mr-2 sm:text-xl md:text-2xl lg:text-3xl">Documentos</h1>
      <div class="border-l h-6 mr-2"></div>
    </div>

  </div>

  <div  *ngIf="isError" class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 " >
    <div  class="text-red-600 font-bold mb-4">
      Error al cargar los documentos. Por favor, inténtelo de nuevo más tarde.
    </div>
  </div>

  <div  *ngIf="!isError" class="bg-white rounded-xl shadow-lg p-4 ml-5 mr-5 overflow-x-auto border border-green-400 "> <!-- Added overflow-x-auto for horizontal scrolling -->
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Nombre</th>
          <th class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Correo Electrónico</th>
          <th class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Teléfono</th>
          <th class="text-center px-4 py-2 text-xs font-bold tracking-wider text-gray-500 uppercase">Acción</th>
        </tr>
      </thead>
      <!-- Data employees -->
      <tbody class="divide-y divide-gray-200">
        <ng-container *ngFor="let employee of employees; let i = index">
          <tr>
            <td class="text-center px-4 py-2">{{ employee.name }} {{ employee.surname }}</td>
            <td class="text-center px-4 py-2">{{ employee.email }}</td>
            <td class="text-center px-4 py-2">{{ employee.telephone }}</td>
            <td class="text-center px-4 py-2">
              <button (click)="navigateToDetails(employee.id.toString())" class="text-black">
                <i class='bx bxs-show text-xl'></i>
              </button>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
