<div class="container mx-auto">
  <!-- Título Documentos -->
  <h1 class="text-3xl font-bold mt-8 mb-4">Contratos de {{ employeeName }}</h1>
  <hr class="border border-black mb-4">

  <!-- Tabla de contratos -->
  <table *ngIf="contracts.length > 0; else noContracts" class="w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Descripción</th>
        <th class="px-4 py-2">Fecha</th>
        <!-- Agrega más columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of contracts">
        <td class="border px-4 py-2">{{ document.name }}</td>
        <td class="border px-4 py-2">{{ document.description }}</td>
        <td class="border px-4 py-2">{{ document.date }}</td>
        <!-- Agrega más columnas si es necesario -->
      </tr>
    </tbody>
  </table>

  <!-- Mensaje si no hay contratos -->
  <ng-template #noContracts>
    <p>No se encontraron contratos para {{ employeeName }}</p>
  </ng-template>
</div>
